.white-theme {
    $background_color: rgb(241, 241, 241);
    background-color: $background_color;
    .buttons{
        button{
            background-color: $background_color;
        }
    }
    
    $clock_background_color: rgb(222, 222, 222);
    $shadow: 15px 15px 15px rgb(180, 180, 180), -15px -15px 15px rgb(180, 180, 180);
    $main_text_color: rgb(65, 65, 65);
    .zegar{
        box-shadow: $shadow;
        background-color: $clock_background_color;
        color: $main_text_color;
    }
    
    $date_color: rgb(27, 27, 27);
    .data{
        color: $date_color;
    }

}
.dark-theme {
    $background_color: rgb(65, 65, 65);
    background-color: $background_color;
    .buttons{
        button{
            background-color: $background_color;
            color: white;
        }
    }

    $clock_background_color: rgb(45, 45, 45);
    $shadow: 15px 15px 15px rgb(75, 75, 75), -15px -15px 15px rgb(75, 75, 75);
    $main_text_color: rgb(210, 209, 209);
    .zegar{
        box-shadow: $shadow;
        background-color: $clock_background_color;
        color: $main_text_color;
    }

    $date_color: rgb(155, 155, 155);
    .data{
        color: $date_color;
    }
}
body{
    margin: 0;
    main{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .zegar{
            width: 720px;
            height: 480px;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            .box{
                width: 50%;
                height: 50%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                .godzina{
                    text-align: center;
                    width: 100%;
                    display: block;
                    font-size: 80px;
                }
                .data{
                    font-size: 30px;
                    width: 100%;
                    text-align: right;
                }
            }
        }
        .buttons{
            width: 100%;
            display: flex;
            justify-content: end;
            button{
                width: 30px;
                height: 30px;
                margin-right: 2rem;
                border: none;
            }
        }
}
}