$background_color: rgb(65, 65, 65);
$clock_background_color: rgb(45, 45, 45);
$shadow: 15px 15px 15px rgb(75, 75, 75), -15px -15px 15px rgb(75, 75, 75);
$main_text_color: rgb(210, 209, 209);
$date_color: rgb(155, 155, 155);